body {
    font-family: 'Arial', sans-serif;
}

#nav {
    background-color: black;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #54e774;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.card-title {
    color: #ffffff;
}

.card-text {
    color: #ffffff;
}

#home {
    background-color: black;
    color: white;
}

.titulo {
    padding-bottom: 8px;
}

.noticia-titulo {
    color: white;
}

.interlineado {
    line-height: 30px;
}

.subtexto {
    font-size: 13px;
}

.personaje1 {
    background-color: black;
}

.personaje2 {
    background-color: black;
}

.personaje3 {
    background-color: black;
}

.cajanoticia {
    background-color: black;
    border-radius: 20px;
}


.custom-container {
    max-width: 1700px;
}

.noticia-descripcion {
    font-size: 18px;
    color: white;
}

.noticia-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.caja {
    background-color: #f8f9fa; /* Color de fondo para las cajas */
    border: 1px solid #dee2e6; /* Borde de las cajas */
    padding: 20px; /* Espaciado interno */
    margin-top: 15px; /* Espaciado superior */
    border-radius: 10px; /* Esquinas redondeadas */
}

.caja-margin {
    margin-right: 15px; /* Espacio entre las cajas */
    margin-left: 115px; /* Espacio entre las cajas */
}

.acerca-descripcion {
    font-size: 20px;
}

#success-message {
    display: none;
}

form:invalid ~ #success-message {
    display: none;
}

form:valid ~ #success-message {
    display: block;
}